.post-card{
  display: flex;
  flex-direction: row;
  color:white;
  width:100%;

  height:auto;

  border: solid 2px #373a40;
  border-radius: 5px;
  padding-left: 5px;

}

.post-footer{
 
}

.right-part{
  display: flex;
  flex-direction: column;
gap: 0.25em;
margin-left: 5px;

}



.post-content{

  padding-right: 20px;
 


}

.comments-main{
  color:white;
  text-decoration: none;

}

.footer{
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-start;
  gap:1.2em;
  padding-top:10px;



}

.bookmark-main{
  cursor: pointer;
}

.comments{
  text-decoration: none;
  display: flex;
  flex-direction: row;
}