.ts{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}

.st{
    width:50%;
    display: flex;
    flex-direction: column;
    gap:1em;

}

@media screen and (max-width: 767px) {

    .st{
       width:90%;
    }
 
  }